html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Qwigley;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 113.5%;
    color: #30545c;
    max-width: 1600px;
    max-height: 1200px;
    position: relative;
  }
  
//display flex
.disp-flex {
    display: flex;
    flex-wrap: wrap;
}

//animations---------------------------------------
@keyframes swim-wawe {
  0% {
      background-position: 200% -20%;
      opacity: 0;
     }
  100% {opacity: 1;}
}

@keyframes swim-board {
  0% {}
  75% {}
  100% {
        background-position-x: 605px; 
        transform-origin: 1250px 200px 0px; 
        transform: rotate(-90deg);
       }
}

@keyframes main-appear {
  0% {
      left: -400px;
      opacity: 0;
      }
  50% {opacity: 0.6;}
  100% {opacity: 1;}
}

@keyframes cards-appear{
  0% {
      opacity: 0;
      }
  50% {opacity: 0.6;}
  100% {
        transform: translateY(-160px);
        opacity: 1;
       }
}

@keyframes background-rotate {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  100% {}
}

@keyframes background-zoom {
  0%{}
  50%{}
  100%{
       transform: rotate(-15deg) scale(1.25);
      }
}

@keyframes background-rotate2 {
  0% {
     transform: rotate(-15deg) scale(1.25);
     }
  100% {
        transform: rotate(0deg) scale(1.20);
       }
}
