html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Qwigley;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 113.5%;
    max-width: 1600px;
    max-height: 1200px;
    // background-color: lightgoldenrodyellow;
    position: relative;
  }
  
//display flex
.disp-flex {
    display: flex;
    flex-wrap: wrap;
}

//wrappers 
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

//colors 
$MainScreenBlue: rgba(0, 91, 193, 0.6);
$white: #ffffff;
$RegularFontColor: #343434;

//animations
@keyframes swim-wawe {
  0% {
      background-position: 200% -20%;
     }
  100% {}
}

@keyframes swim-board {
  0% {
      }
  75% {
      }
  100% {
      //transform: translateX(100px);
      background-position-x: 600px;
      //left: 600px;
      transform-origin: 1250px 200px 0px;
      transform: rotate(-90deg);
      
      }
}

@keyframes swim-board-rotate {
  0% {}
  75% {}
  100% {
        transform: rotate(90deg);
       }
}
 
//MIXINS
//mixin font regular h2
// @mixin FontRegularH2 () {
//   color: #343434;
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 27px;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;
// }
//mixin font date in article
// @mixin FontDateArticle {
//   font-family: Open Sans;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 19px;
//   align-self: center;
//   color: $RegularFontColor;
//   align-self: flex-end;
// }
//mixin font regular main small
// @mixin FontRegularSmall {
//   font-family: Open Sans;
//   font-style: normal;
//   font-weight: 300;
//   font-size: 14px;
//   line-height: 19px;
//   color: $RegularFontColor;
// }