@import "./settings";

//section wawes-------------------------------
section.wawes {
  background: url(/img/wawes/wawe-right.png);
  background-repeat: no-repeat;
  background-size: 1221px;
  background-position: 100% 30%;
  height: 1200px;
  width: 1600px;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  animation: swim-wawe 3s ease-in-out 
             1s alternate;
  animation-fill-mode: forwards;
 }

//section main---------------------------------
section.main:before { //main background in :before
  position: absolute;
  content: "";
  width: 1258px;
  height: 796px;//756
  background-image: url(/img/main/main-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
  animation-name: background-rotate, background-zoom, background-rotate2;
  animation-fill-mode: forwards, forwards, forwards;
  animation-duration: 5s, 3s, 2s;
  transition-timing-function: ease-in-out, linear, linear;
  animation-delay: 0s, 5s, 8s;
  animation-direction: alternate, normal, normal;
}
section.main {
  animation: main-appear 3s ease-in-out 1s alternate;
  animation-fill-mode: forwards;
  position: absolute;
  opacity: 0;
  left: 102px;
  top: 153px;
  width: 80%;
  height: 765px; 
  overflow: hidden;
  border-radius: 12px;
  header.header.disp-flex {
    justify-content: space-between;
    div.header__logo {
      margin-left: 110px;
      margin-top: 28px;
    }
    nav.header__nav {
      margin-right: 68px;
      margin-top: 32px;
      margin-left: 112px;
      ul.nav-list.disp-flex {
        li.nav-list__item {
          margin-right: 62px;
          a {
            text-decoration: none;
            transition-timing-function: ease;
            transition-duration: 200ms;
          }
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
  }
  div.main.disp-flex {
    justify-content: space-between;
    div.main__column-title {
      width: 362px;
      margin-left: 110px;
      margin-top: 28px;
      div.title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 77px;
        line-height: 104.5%;
        text-transform: uppercase;
        color: #3D3A48;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      div.under-title {
        margin-top: 6px;
      }
      div.comment {
        margin-top: 54px;
        width: 360px;
        height: 127px;
        left: 111px;
        background: rgba(42, 74, 104, 0.21);
        backdrop-filter: blur(10px);
        border-radius: 100px;
        transition: 1s ease;
        div.comment__avatar {
          background: url(/img/main/avatar.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 90px;
          margin-top: 18px;
          margin-left: 32px;
          position: relative;
        }
        div.comment__article {
          div.name {
            width: 186px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 113.5%;
            color: #EBF8F5;
            margin-top: 31px;
            margin-left: 20px;
            }
          div.phrase {
            width: 186px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 113.5%;
            text-transform: capitalize;
            color: #9BC9D3;
            margin-top: 8px;
            margin-left: 20px;
          }
          div.likes-number {
          }
          div.likes-number:before {
            position: absolute;
            content: "";
            background: url(/img/main/ellipse.png);
            background-size: contain;
            width: 20px;
            height: 20px;
            top: 21px;
            left: 92px;
            z-index: 15;
          }
          div.likes-number:after {
            position: absolute;
            content: "+1";
            width: 20px;
            height: 20px;
            top: 22px;
            left: 98px;
            z-index: 16;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 113.5%;
            color: #314F47;
          }
        }
        &:hover {
          backdrop-filter: blur(5px);
        }
      }
    }
    div.main__column-now-in-bali {
      flex-shrink: 5;
      margin-right: 9px;//not adoptive: margin-right: 149px;
      margin-top: 119px;
      div.nov-in {
        position: relative;
      }
      div.nov-in:before {
        content: "";
        position: absolute;
        left: -30px;
        width: 8px;
        height: 48px;
        background-color: white;
      }
    }
    div.none {
      flex-shrink: 50;
      margin-left: 149px;
    }
  }
}

//section cards-------------------------------
section.cards.disp-flex {//TODO: do cards to final stady
  position: absolute;
  margin-top: 916px;
  opacity: 0;
  margin-left: 194px;
  div.card {
    width: 360px;
    height: 230px;
    border-radius: 12px;
    z-index: 2;
    margin-bottom: 45px;
  }
  div.cards__bali.card {
    position: relative;
    margin-right: 45px;
    //margin-left: 194px;
    box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
    transition: box-shadow 1s;
    p.plase {
      position: absolute;
      bottom: 50px;
    }
    p.date {
      position: absolute;
      bottom: 30px;
    }
    &:hover {
      box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.71);
    }
  }
  div.cards__srilanka.card {
    position: relative;
    margin-right: 45px;
    box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
    transition: box-shadow 1s;
    p.plase {
      position: absolute;
      bottom: 50px;
    }
    p.date {
      position: absolute;
      bottom: 30px;
    }
    &:hover {
      box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.71);
    }
  }
  div.cards__australia.card {
    position: relative;
    box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
    transition: box-shadow 1s;
    p.plase {
      color: yellow;
      position: absolute;
      bottom: 60px;
    }
    p.date {
      color: yellow;
      position: absolute;
      bottom: 130px;
    }
    &:hover {
      box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.71);
    }
  }
  animation: cards-appear 3s ease-in-out 1s alternate;
  animation-fill-mode: forwards;
}

 //section surfboard-------------------------------
 section.surfboard {
   background: url(/img/surfboard/surfboard.png);
   background-repeat: no-repeat;
   background-size: 1000px;       
   background-position-x: -70px; 
   background-position-y: 20px; 
   z-index: 3;
   height: 1200px;
   width: 1600px;
   position: relative;
   top: 200px;  
   animation: swim-board 3s ease-out 1s alternate;
   animation-fill-mode: forwards;
 }


 