@import "./settings";

//section wawes-------------------------------
section.wawes {
  background: url(/img/wawes/wawe-right.png);
  background-repeat: no-repeat;
  height: 1553px;
  width: 1221px;
  position: absolute;
  
}